	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #EFEFEF url(images/bg01.png) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		color: #8d8d8d;
	}

@font-face {
    font-family: myFirstFont;
    src: url('Thin king.ttf');
}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #333;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
		color: #525252;
	}
	
	a
	{
		color: #525252;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		margin: 0px auto;
		width: 1800px;
	}
	
    .littlecontainer
        {
            margin: 0px auto;
            width: 400px;
        }
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 30px;
		height: 30px;
		background: #3f3f3f;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 0em;
		letter-spacing: 0.10em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 0.90em;
		color: #333;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8aa2fc;
		margin-right: 1em;
		padding: 8px;
		text-align: center;
		color: #FFF;
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #FFF;
		border-top: 1px solid #47A665;
		border-bottom: 1px solid #47A665;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 2em 0em;
		text-transform: uppercase;
        text-align: center;
	}

	#logo h1
	{
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}
header
	#logo span
	{
		padding: 0em 0em 0em 0em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #51AD6F;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
        text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	    text-align:center;
	    position:relative;
	    /*padding: 4px 10px 4px 10px;
	    margin-right:10px;
	    margin-top:7px;*/
	    border:none;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 700;
		color: #000;
        font-family: myFirstFont, serif;
        font-weight: bold;
	}
	
	#menu .current_page_item a
	{
		background: #7BDB99;
		color: #000;
	}
	
	#menu a:hover
	{
		background: #7BDB99;
		text-decoration: none;
		color: #000;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin-bottom: 0em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		padding: 4em 0em 6em 0em;
		background: #FFF;
		border-top: 1px solid #47A665;
	}
    
    #page-wrappera
	{
		padding: 0em 0em 22.5em 0em;
		background: #FFF;
		border-top: 1px solid #47A665;
        border-bottom: 1px solid #47A665;
/*        position: relative;*/
	}

	#page
	{
		overflow: hidden;
		padding-top: 6em;
		border-top: 1px solid #E5E5E5;
		color: #717171;
	}

	#page .title
	{
		margin-bottom: 2em;
	}
	
	#page .title h2
	{
		font-size: 2em;
		font-weight: 800;
		color: #333;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 588px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer-wrapper
	{
		padding: 6em 0em 6em 0em;
		background: #f4f4f4;
		border-bottom: 1px solid #EDEDED;
		border-top: 1px solid #EDEDED;
	}

	#footer {
		overflow: hidden;
		color: #666666;
	}
	
	#footer h2
	{
		letter-spacing: 0.10em;
		padding-bottom: 1em;
		font-size: 1.3em;
		font-weight: 700;
		color: #333;
	}

	#footer #fbox1 {
		float: left;
		width: 282px;
		margin-right: 24px;
	}
	
	#footer #fbox2 {
		float: left;
		width: 282px;
		margin-right: 24px;
	}
	
	#footer #fbox3 {
		float: left;
		width: 282px;
	}

	#footer #fbox4 {
		float: right;
		width: 282px;
	}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.85em;
		letter-spacing: 0.10em;
		text-align: center;
		color: #6A6A6A;
	}
	
	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding-bottom: 6em;
		color: #717171;
	}
	
	#featured img
	{
		margin-bottom: 2em;
	}
	
	#featured .box
	{
		padding-bottom: 1.5em;
	}
	
	#featured .title
	{
		margin-bottom: 2em;
	}
	
	#featured .title h2
	{
		font-size: 2em;
		font-weight: 800;
		color: #333;
	}
	
	#featured .subtitle
	{
		padding-bottom: 1em;
		font-size: 1.3em;
		font-weight: 700;
		color: #333;
	}

	#featured #box1 {
		float: left;
		width: 282px;
		margin-right: 24px;
	}
	
	#featured #box2 {
		float: left;
		width: 282px;
		margin-right: 24px;
	}
	
	#featured #box3 {
		float: left;
		width: 282px;
	}

	#featured #box4 {
		float: right;
		width: 282px;
	}


[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 0px solid #5a5a5a;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    padding-left: -30px;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.kotak-f, .kotak-m {
	position: fixed;
	display: block;
	top: 12%;
	width: 5%;
	background: #B6B6B6;
-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
}

.kotak-f:hover, .kotak-m:hover {
	cursor: pointer;
	background: #388E3C;
}

.kotak-f:hover img {
	content:url("../img/female_white.png");
}

.kotak-m:hover img {
	content:url("../img/male_white.png");
}

.kotak-f img, .kotak-m img {
	width: 100%;
}

.kotak-active-f {
	background: #388E3C;
	content:url("../img/female_white.png");
}


.kotak-active-m {
	background: #388E3C;
	content:url("../img/male_white.png");
}


.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    /*margin:4px auto;*/
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #47A665;
   /* border-top:none;*/
     
    /* Gradient background */
    background:#FFF;
    /*background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
 */
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
 
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 670px;  z-index: 10;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:320px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:660px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:'Open Sans', sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:30px;
    margin:0 0 10px 0;
}
 
#menu li:hover div a {
    font-size:20px;
    color:#000;
}
#menu li:hover div a:hover {
    color:#000;
}
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}






